files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIFIzCCAwugAwIBAgIUVze2FbYd43c0qqSDye4UgzPyaoowDQYJKoZIhvcNAQEL
        BQAwITEfMB0GA1UEAwwWKi5lbGFzdGljYmVhbnN0YWxrLmNvbTAeFw0yMDEyMjQx
        NjM3NTdaFw0yMTEyMjQxNjM3NTdaMCExHzAdBgNVBAMMFiouZWxhc3RpY2JlYW5z
        dGFsay5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDhx61NL7J5
        dTURFwAaabHFXWwXt3qnI15KKIUb9955bkgrvLDI7bVx/Ej5RF9S8gJmsx5nia5k
        JsZgXlQ8t5EqOC37AUnRXKTeg9Dul1SDbDkljJ1Brc8xBtSstWslzzT5pS+FZSHW
        3IlMdKa/wEdvxVbUuORUJhc8sWPISUr+Na65CBrPrHRoi1Qzkt+pe92yyVaB6t52
        a33DrdBLeXUG3t++5l9DPFYqrWNEeyBuWAHz8XiJ2S80usRdxEy+7X6IB5/B5ZwE
        IoJsqRVRqqEHdlRBmBY/DSQ68IuwHxOo9Bqlr4uEZkOXBvPL9hAKgF9A4ZPCY1d7
        5YKDZ4MQfZc2VRVh/dgKKgeOueVtFudmv7zqL0iZVJwHtap0d65cEvR/X/cutJoS
        tRc2wwYttZoWGjwkc3+hl9preNo4YYLZBRbiOi8Wrdmo9kYS589EmpunS2c3XpWD
        bV8Z32P3F3WDgENspkuQrZVwxZZO7Fmtt3FfLKdeNiUtIXHDNrPQwilvhtyMvRMH
        jObWa2v8SAmrHSgLVy9JK1w/lp1RmDUHmW8xLdhAYE9fW4zkB5s0cxO6V/o5+OvB
        wuFHE3aTWqOuJav33OHu/tAwQDFgx4toKxMTwELGorM+amxXE7MK9gPsXMAMF6nf
        bpkouCLJZ/uxBTKxPQc7qaatyDmX5rv0iwIDAQABo1MwUTAdBgNVHQ4EFgQUYBAQ
        aA/i7aqAvA22P5VQrYoG72YwHwYDVR0jBBgwFoAUYBAQaA/i7aqAvA22P5VQrYoG
        72YwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAcnCSwYc9rwOn
        +VwcvGg9KM+lsEOYRj1p6v9A21gv8aGIAVowAQxmQpJOCkHgUCdjuzadQ8Hc59qA
        HBLf80QIdbrbHcY4TDXvthXoUKjYGsaNwNlG8HuUZonsinNxpC8BdT2vVXxLm9hx
        w2Kko4PVAZm7Qpy9KV2yRGjubaocOt93ZZpEJzduO2GXDEXCMjDM2ApYuM6DXVOx
        LxTZ7SG9XrXoRRcPWeFQQ3euhatRw/avsZBR9hBWES/Wllnu5T2Pes06qhXKxAnf
        xlDRHc9Z/et57OHc6mlCh+AXEgNDuI8eZ9FDOugzm5+Qu4qAcQP/xUvuzlH56uXo
        br+pyJXQ53xd6DhgFjXn8NyrPJdtiGLwVMC1mQ/bdWLBf88VNImP2TMAvZ/xfZ79
        EvkRiiTh+SJBmPbpS6KV4PGS+rXVSISk1h/fZ79WAmgTAg4gkhd5OS3VcBiey+h5
        L+jbT5AUbV6dh9J0O6xPwrfGc/I5bsh0r4Xw5vvPeasE5PfRIgoQMLQOJKSAvKht
        n6fNj7hgDMMDWKzqDvjxRgMSQfVZoZW9fVQ31vfytOwxYrsoC8KboG41mWrK5et1
        KO55s5i9ZaxhYYsP7ngwGmm7XEqbBZvKWHUp12U3070Vv7aIP0d42RhfIuxixt1q
        eRbb3wn9y/AVqk385gAlTa2HHEz/Xmo=
        -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIJKQIBAAKCAgEA4cetTS+yeXU1ERcAGmmxxV1sF7d6pyNeSiiFG/feeW5IK7yw
        yO21cfxI+URfUvICZrMeZ4muZCbGYF5UPLeRKjgt+wFJ0Vyk3oPQ7pdUg2w5JYyd
        Qa3PMQbUrLVrJc80+aUvhWUh1tyJTHSmv8BHb8VW1LjkVCYXPLFjyElK/jWuuQga
        z6x0aItUM5LfqXvdsslWgeredmt9w63QS3l1Bt7fvuZfQzxWKq1jRHsgblgB8/F4
        idkvNLrEXcRMvu1+iAefweWcBCKCbKkVUaqhB3ZUQZgWPw0kOvCLsB8TqPQapa+L
        hGZDlwbzy/YQCoBfQOGTwmNXe+WCg2eDEH2XNlUVYf3YCioHjrnlbRbnZr+86i9I
        mVScB7WqdHeuXBL0f1/3LrSaErUXNsMGLbWaFho8JHN/oZfaa3jaOGGC2QUW4jov
        Fq3ZqPZGEufPRJqbp0tnN16Vg21fGd9j9xd1g4BDbKZLkK2VcMWWTuxZrbdxXyyn
        XjYlLSFxwzaz0MIpb4bcjL0TB4zm1mtr/EgJqx0oC1cvSStcP5adUZg1B5lvMS3Y
        QGBPX1uM5AebNHMTulf6OfjrwcLhRxN2k1qjriWr99zh7v7QMEAxYMeLaCsTE8BC
        xqKzPmpsVxOzCvYD7FzADBep326ZKLgiyWf7sQUysT0HO6mmrcg5l+a79IsCAwEA
        AQKCAgEAnIKEWbs0pwleregZxDV8a+ok4hPoTDAyTonkK80ZRWfzU45Lph1R6CAQ
        neqNgbwNeg+0heVlJDvUzDzXe/dsA65KAXOVLjJgf3c0wA/bH/dHbgYZhMvtkni/
        uLFSAzWt7VhapsfCO2VJL9y1MrshShOr6233qXV2KjZ1iwNznuCrq8w4ebl8QHRE
        /DNWI/CfcC4tb4XWjJRa6+hzOb6KJyccRwL/Cmaq/I6Q/4myo4sSX34GJtiM5qqJ
        MM7AvKF5UuamEg0Op7ccXiKfiqsTUU7vfUDmOvLrKIhS7NW+FSKRzkTwG+mf9PN2
        0O5TlFQEs78rZFbk8Bfa7yg0LJxC0rOrRKuP4SYk0fPGJpZria19MjiwCcrsqGV+
        qJrfZcg/mybhNXZU/cjwn2/x3PPLNSt7TUqF2ONzZlL4R052yLm5LS10UhLG4TR+
        p55LCoXLM+jeGLMJNkM4DHfTn6C6vH6v3Wk8jCfb6kaUl73gc6RpaC+B+EA4Pug4
        nUhyu2UiN/aMlp00AsweUygEEvXEE1rxzZNRFtKSZv/Ww5YIj6Mi745BX15+YXtp
        PtgzOw+DGc/ewLVpXCnG84i2vLmcD9gOj5bQNnVn/oEqXVonCj//X454bm8wM4Hl
        LXrDStJbu4LsxM1O4Qic9qJ2cuTUO1o8s01pkxcJonCJT9t4CvECggEBAPUn4rhF
        Ieb5Nhoq+QwLr3jDLSAcqYXq6SeuTITqKn+t9cbLqMTdQl/62+wasuy21QbtiVtv
        28yKLIQkFSWHQSm8vr7sIREoGT2gABpWCwxbBW6tOe9bEvssYy1oEURlh8A+zP09
        5tFJ+pgzm1jB3kHJ8KwwGXlJRQjvKjtG4lxB+38IV38SRNAGnHn4VsM/e/MWwn7G
        /5wt+JNV3zeueXJe1y1lJSXwvjAe4X4yZD/nOP0pMq3C8aTF/VMRR0bexSmbcH/r
        zH17TCz2qGdzlvnNp+8U/p0dmFPxQcRZki3+AwMYZn9gF7N3iOLhp9i2C6bVlomn
        ueWYHqEr4rEAKr0CggEBAOvEYcjYP4PKpW//un0Orb+MnKWrv4J4QRucNpc987Rb
        T8ew3nFrfPqzKGFSCEhXGA9H7fmmBHiZxfJoswZwJyoV4cMWsXSoKYn4BIG/AS2R
        ZTetE6/AAUaJOX8fHq4YMUCedbT3UYAx+q1I7MrIElTXRRFdUJqj5jMh/kKp5Ftv
        trM4ptWmVFub1RAN6tHCNcBnaFmmIwR79Aehc/NLjAY1VgoL6IZPE7VthhtbSxiT
        Vl17/g/9t/K4xNWDqXWOJt41NCA0nshXhHEgeCIJqN+fHGuUPm1vULdkJvKuuJgz
        dGWWm6d7aWc5vx88hnb9bR3xjnSA63ywy4aDOARzNOcCggEBALp9cux2Oon3vf49
        /mH5aaxV3Lf21cZ3opF6996MO3QRI0vslR/cqKdWr4F19fI4SukQPVL/TpbT7XU/
        9Y4sy5cya2/VNHpWpIzKcAmYtqLZgtJkmBPKli/X3kImTixXh+LoYwup0TIYMrch
        WuUz5Rzqv1hc5qPq5scbGGcrTvqbfvNtpxGVFh+hR9tI3Md+PY34HFBQlRV7qwJ5
        ampzIROtrcZskMvBzQvSEfrr3nL2M9XxRwoDp8qOilxsYmo5AIbcJcJJ36784j+6
        CvVXatvwY/VtZRqj7sK8Xik9cgPmnOf34dC3ipANOGZO/l3ObiKli/R/UNyk0XgN
        aE75L4kCggEAXDmBlrMghUkr1dfO90RaqucyD4xTaZHoxgghQqA1SIO/fXmuSeem
        B9s1HHyeSM3o13FnoZRTg2mDiQNzpD0S1N+iZFHoMJ3nQdUGzkoNB+osEc9eOA1/
        cjwThaqCsc881O4nVRa5htAGIuq31crVgOKEXfqGoTcjwTS25RTYAvx8Fzc9660Y
        qo0WlyUaidrSc+T/aLIYWJS0LJf3Z2BR8cvDUELAPmmIaBvjrafUhFR+ICt0goTZ
        A9VLCcpq61Uj1yAwt7hdtDin0ijFVWs559+xmlNu6Bf3FwXSRnQaOU9HZMW5NZaM
        8JgiLvHaF4miuWfYNbKIa0otEv0ZWIRIWQKCAQBcVmLEZG5suELwW3rwDAG4PHPK
        NfBQp7gSF0uKOnu1DQlTM6nGZ+t9pAwmnUacP5eAXNd6q059PyuQA4NwCo37BItp
        ktHZpHp+q7W//i/n/pAxJz27cr6l8M8K0pDW07jEdeQY9PLpyDs3GsFNoemqqtxS
        CuEhJrRJ4DGTALyn/2Ap/ahzA3z5e3eFXoqDdg7+VvkWIbVqnwmRiRFsfixbAOFm
        sKILoa0UhlLLqHCgV2SdhMTVEJeN5LoEavAR40IZRLxDC2ce9q0jDdHSbshdXMYe
        Asm2F5+Oa4ORWXlqqDwktvBCp0M+bHjbuitpSLHiurH64+EbUrpeFC5RQqQT
        -----END RSA PRIVATE KEY-----
