Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
    AWSEBLoadBalancer:
        Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
        Listeners: [{
            "LoadBalancerPort": "443",
            "SSLCertificateId": "arn:aws:acm:us-east-1:931622137555:certificate/e43e8ba8-7657-4c8b-b6b9-ea1d758881d6",
            "Protocol": "HTTPS" }]
